<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @house.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @house.descripcion %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
